*
{
    margin: 0;
    padding: 0;
}

html,
body
{

    overflow: hidden;
}

body{
    background-image: linear-gradient(to bottom, #f1f1f1, #e6f2fc, #d0f6fb, #caf9e4, #e4f4c3);

}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}


#progressDiv {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%)
}